@import "tailwindcss";

.primary-color{
  @apply bg-gradient-to-r from-emerald-800 to-teal-800;
}
.primary-color-text{
  @apply bg-gradient-to-r from-emerald-800 to-teal-800 bg-clip-text text-transparent;
}
.icon-size{
  @apply max-w-7 mr-1;
}


.navs{
  @apply fixed top-5 left-241 z-100 h-13 w-fit ;

  span{
    @apply ml-3 border  p-3 cursor-pointer text-white rounded-4xl border-3 hover:bg-white
    hover:text-green-700 transition-all duration-200;
  }
}
.bubbles{
  @apply w-375 h-fit z-0 text-black flex justify-self-center justify-between mt-16 mb-2 ml-3 relative border border-emerald-200
   p-3 px-20 shadow-md border-x-0 ; 
  button{
    @apply px-10 h-full rounded-3xl border-b-transparent p-2 flex justify-center items-center
      cursor-pointer transition-colors duration-300 font-semibold;
  }
  
  
}
.manageuser{
  @apply w-7xl h-150 flex justify-self-center  rounded-lg mt-5 ml-3 flex flex-col border-gray-200 border-2 
  overflow-y-auto gap-4 bg-slate-50;
}

.mu{
  @apply  flex flex-col gap-4 p-9 ;
  .users{
    @apply bg-white rounded-xl p-4 cursor-pointer border-x-4 border-green-800
         shadow-sm transition-all duration-300;
  }
  .firstname{
    @apply font-medium text-lg flex justify-self-center;
  }
  .place{
    @apply flex justify-self-center
  }
  .accinfo{
    @apply flex justify-between
  }
  .buttons {
  @apply flex gap-3 mt-3 flex justify-center;
  }
  .editb {
  @apply bg-green-700 hover:bg-green-800 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .deleteb {
  @apply bg-red-600 hover:bg-red-700 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .expand{
    @apply overflow-hidden transition-all duration-300 flex justify-self-center;
  }
} 

.requestees-container {
  @apply flex flex-col md:flex-row justify-between gap-6 px-3 max-h-[495px] pb-3;
}

.requestees {
  @apply flex flex-col overflow-y-auto gap-3 max-h-[600px] w-full md:w-2/3 pr-2;
}

.users {
  @apply border border-gray-200 w-full flex justify-between p-3 pr-10 rounded-xl text-black transition-all duration-300 shadow-sm hover:shadow-md;
}

.approvereject {
  @apply border border-gray-200 h-fit w-full md:w-1/3 shadow-sm rounded-xl p-6 bg-white;
}

.filters {
  @apply flex flex-wrap gap-2 p-3;
}

.filters button {
  @apply px-4 py-2 rounded-full  transition;
}

.filters .showall {
  @apply px-4 py-2  rounded-full bg-gray-200 text-gray-700 hover:bg-gray-300;
}


.records-div{
  @apply  p-2 gap-x-2 gap-y-2  rounded-xl p-9 bg-slate-50;
  .record-info{
  @apply bg-white rounded-2xl border-x-9 shadow-md px-5 py-1
        hover:border-y-1 transition-all duration-500;
}
}

.announcement-div {
  @apply grid grid-cols-2 gap-5 m-9 ;
}
.existing-announcement {
  @apply flex flex-col gap-4 overflow-y-auto max-h-130 pr-2;
}
.ann-title-date {
  @apply p-4 rounded-xl border bg-white
     border-gray-200 border-2 shadow-xs hover:shadow-md transition-shadow duration-300;
}
.ann {
  @apply flex items-center ;
}
.make-announcement {
  @apply  p-5 rounded-xl bg-white w-full border-gray-200 border-2 shadow-xs;
}