@import "tailwindcss";

.navs{
  @apply fixed top-5 left-241 z-100 h-13 w-fit ;

  span{
    @apply ml-3 border  p-3 cursor-pointer text-white rounded-4xl border-3 hover:bg-white
    hover:text-green-700 transition-all duration-200;
  }
}
.bubbles{
  @apply w-375 h-fit z-0 text-black flex justify-self-center justify-between mt-16 mb-2 ml-3 relative border-2 border-t-transparent
  border-x-transparent p-3 px-20 shadow-xl;
  button{
    @apply   border-b-transparent p-2 flex justify-center items-center
      cursor-pointer transition-colors duration-300;
  }
  
  
}
.dropdown{
  @apply w-54 h-fit bg-white shadow-xl rounded-lg p-4 mt-1   ml-300 flex flex-col gap-2 absolute z-20;
  li{
    @apply text-black hover:bg-green-100 p-2 rounded-lg cursor-pointer;
  }
}
.manageuser{
  @apply w-360 h-150 flex justify-self-center bg-gray-50 rounded-lg mt-5 ml-3 flex flex-col border-green-600 border-2
  overflow-y-auto gap-4 ;
}

.mu{
  @apply  flex flex-col gap-4 p-9;
  .users{
    @apply bg-white rounded-xl p-4 cursor-pointer border-x-4 border-green-800
         shadow-sm transition-all duration-300;
  }
  .firstname{
    @apply font-medium text-lg flex justify-self-center;
  }
  .place{
    @apply flex justify-self-center
  }
  .accinfo{
    @apply flex justify-between
  }
  .buttons {
  @apply flex gap-3 mt-3 flex justify-center;
  }
  .editb {
  @apply bg-green-700 hover:bg-green-800 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .deleteb {
  @apply bg-red-600 hover:bg-red-700 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .expand{
    @apply overflow-hidden transition-all duration-300 flex justify-self-center;
  }
} 

.requestees-container{
  @apply flex justify-between gap-3 px-3;
.requestees{
  @apply flex flex-col gap-3 max-h-130 w-full; 
  .users{
    @apply  border-green-700 border-1 w-200 grid grid-cols-3 p-3 rounded-2xl text-black transition-all duration-300
    shadow-lg
  }
}
.approvereject{
  @apply border-1 h-fit w-fit bg-emerald-100 shadow-lg rounded-xl p-6 w-full
}
}


.filters{
  @apply text-xs font-medium flex gap-3 p-3;
  button{
    @apply px-4 py-2 rounded
  }
  .showall{
    @apply px-4 py-2 rounded bg-gray-200 text-gray-700;
  }
}

.records-div{
  @apply grid grid-cols-2 p-2 gap-x-2 gap-y-2  rounded-xl p-9;
  .record-info{
  @apply bg-white rounded-2xl border-x-9 shadow-md p-4
       flex justify-between items-center hover:border-y-1 transition-all duration-100 max-h-15;
}
}

.announcement-div {
  @apply grid grid-cols-2 gap-5 m-9;
}
.existing-announcement {
  @apply flex flex-col gap-4 overflow-y-auto max-h-130 pr-2;
}
.ann-title-date {
  @apply p-4 rounded-xl border bg-gradient-to-br from-emerald-50 to-emerald-100
     border-emerald-200 shadow-sm hover:shadow-md transition-shadow duration-300;
}
.ann {
  @apply flex items-center;
}
.make-announcement {
  @apply  p-5 border rounded-xl bg-white shadow-sm w-full;
}