@import "tailwindcss";

.primary-color{
  @apply bg-gradient-to-r from-emerald-700 to-teal-700;
}
.primary-color-text{
  @apply bg-gradient-to-r from-emerald-600 to-teal-600 bg-clip-text text-transparent;
}
.icon-size{
  @apply max-w-7 mr-1;
}


.navs{
  @apply fixed top-5 left-241 z-100 h-13 w-fit ;

  span{
    @apply ml-3 border  p-3 cursor-pointer text-white rounded-4xl border-3 hover:bg-white
    hover:text-green-700 transition-all duration-200;
  }
}
.bubbles{
  @apply w-375 h-fit z-0 text-black flex justify-self-center justify-between mt-16 mb-2 ml-3 relative border border-emerald-200
   p-3 px-20 shadow-md border-x-0 ; 
  button{
    @apply px-10 h-full rounded-3xl border-b-transparent p-2 flex justify-center items-center
      cursor-pointer transition-colors duration-300 font-semibold;
  }
  
  
}
.manageuser{
  @apply w-7xl h-150 flex justify-self-center  rounded-lg mt-5 ml-3 flex flex-col border-emerald-200 border-2 
  overflow-y-auto gap-4 bg-white/90 backdrop-blur-2xl;
}

.mu{
  @apply  flex flex-col gap-4 p-9;
  .users{
    @apply bg-white rounded-xl p-4 cursor-pointer border-x-4 border-green-800
         shadow-sm transition-all duration-300;
  }
  .firstname{
    @apply font-medium text-lg flex justify-self-center;
  }
  .place{
    @apply flex justify-self-center
  }
  .accinfo{
    @apply flex justify-between
  }
  .buttons {
  @apply flex gap-3 mt-3 flex justify-center;
  }
  .editb {
  @apply bg-green-700 hover:bg-green-800 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .deleteb {
  @apply bg-red-600 hover:bg-red-700 text-white px-4 py-1.5
         rounded-md text-sm transition;
  }
  .expand{
    @apply overflow-hidden transition-all duration-300 flex justify-self-center;
  }
} 

.requestees-container{
  @apply flex justify-between gap-0 px-3 h-full pb-3 ;
.requestees{
  @apply flex flex-col  overflow-y-auto  gap-3 max-h-130 w-full pr-5; 
  .users{
    @apply border 
     border-emerald-200 w-full flex justify-between p-3 pr-10  rounded-xl text-black transition-all duration-300
    shadow-sm hover:shadow-md
  }
}
.approvereject{
  @apply border-1 h-fit max-w-lg bg-emerald-100 shadow-lg rounded-xl p-6 w-full
}
}


.filters{
  @apply text-xs font-medium flex gap-3 p-3;
  button{
    @apply px-4 py-2 rounded
  }
  .showall{
    @apply px-4 py-2 rounded bg-gray-200 text-gray-700;
  }
}

.records-div{
  @apply grid grid-cols-2 p-2 gap-x-2 gap-y-2  rounded-xl p-9;
  .record-info{
  @apply bg-white rounded-2xl border-x-9 shadow-md px-5 py-1
        hover:border-y-1 transition-all duration-100;
}
}

.announcement-div {
  @apply grid grid-cols-2 gap-5 m-9;
}
.existing-announcement {
  @apply flex flex-col gap-4 overflow-y-auto max-h-130 pr-2;
}
.ann-title-date {
  @apply p-4 rounded-xl border bg-gradient-to-br from-emerald-50 to-emerald-100
     border-emerald-200 shadow-sm hover:shadow-md transition-shadow duration-300;
}
.ann {
  @apply flex items-center;
}
.make-announcement {
  @apply  p-5 border rounded-xl bg-emerald-100 shadow-sm w-full;
}