@import "tailwindcss";

.navs{
  @apply fixed top-5 left-241 z-100 h-13 w-fit ;

  span{
    @apply ml-3 border  p-3 cursor-pointer text-white rounded-4xl border-3 hover:bg-white
    hover:text-green-700 transition-all duration-200;
  }
}
.bubbles{
  @apply w-375 h-fit z-0 text-black flex justify-self-center justify-between mt-16 mb-2 ml-3 relative border-2 border-t-transparent
  border-x-transparent p-3 px-20 shadow-xl;
  button{
    @apply   border-b-transparent p-2 flex justify-center items-center
      cursor-pointer transition-colors duration-300;
  }
  
  
}
.dropdown{
  @apply w-54 h-fit bg-white shadow-xl rounded-lg p-4 mt-1   ml-95 flex flex-col gap-2 absolute z-20;
  li{
    @apply text-black hover:bg-green-100 p-2 rounded-lg cursor-pointer;
  }
}

.approvalbubble{
  @apply w-360 h-150 flex justify-self-center bg-white rounded-lg mt-5 ml-3 flex flex-col border-green-600 border-2 ;
}