@import "tailwindcss";

.form{
  @apply flex flex-col text-white border  w-full max-w-lg bg-gray-100 rounded-xl py-6 px-6 mx-auto mt-20 shadow-2xl;
  .label-form{
    @apply text-gray-700 font-semibold mt-1 mb-1;
  }
  .title-register{
    @apply flex font-bold text-[40px] pb-5  ;
  }
  input{
    @apply bg-white border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-green-600 text-black;
  }
  .message{
    @apply text-xs text-red-600
  }

  .fields{
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
  }
  input[type="radio"] {
  @apply accent-green-600 focus:outline-none focus:ring-0 ;
}

  .submit{
    @apply  w-full text-white p-2 rounded-xl mt-6;
  }
}