@import "tailwindcss";

.nav{
  @apply fixed top-0.5 left-310 z-100 h-13 w-fit gap-10 flex;
  span{
    @apply flex items-center justify-center mx-auto w-25 h-15.5 text-white hover:bg-white hover:text-green-700  cursor-pointer transition-all duration-300 border-1 border-white border-t-0 border-b-0;
  }
}

.announcement{
  @apply mx-auto w-200 max-h-75 overflow-y-scroll p-6 mt-20 bg-gray-100 rounded-xl shadow-2xl;
  .announcementtitle{
    @apply flex justify-self-center font-bold text-2xl mb-4 text-black;
  }
  .announcement-body{
    @apply text-black flex justify-self-center;
    p{
    @apply inline-block text-center  text-lg w-180 h-fit text-gray-800;
  }
  }
  .date{
    @apply text-sm text-gray-600 mt-4;
  }
}

.request-body{
  @apply w-fit h-85 mx-auto bg-gray-100 rounded-xl shadow-2xl;
.request{
  @apply  w-fit h-fit  mt-10  flex gap-0.5;
  .card{
    @apply flex justify-self-center items-center bg-emerald-800 h-10 p-7 text-white p-2 hover:bg-green-700 cursor-pointer transition-all duration-300 hover:-translate-y-0.5;
  }
}
.request-secondbody{
  @apply  w-240 h-fit  pl-5 pr-5  flex justify-between;
  .request-form{
    @apply flex flex-col m-5 gap-0.5 w-100 text-black ;
    h1{
    @apply font-bold text-xl mb-4 text-green-700;
  }
  textarea{
    @apply bg-white border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2
     focus:ring-green-600 mb-2 w-80;
  }
  p{
    @apply text-sm text-gray-600 mb-2 w-70;
  }
  button{
    @apply bg-green-700 w-30 text-white p-1  mt-2;
  }
  }
  .request-info{
    @apply flex flex-col m-5 gap-7 w-100;
    .userinfo{
      @apply text-green-700 font-bold text-sm
    }
    span{
      @apply text-black text-xs ml-2
    }
   
  }
}
}