@import "tailwindcss";
 @keyframes slideRight {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(8px); }
}
.animate-slide-right {
          animation: slideRight 2s ease-in-out infinite;
}
      
.next-prev-buttons{
  @apply w-7 hover:cursor-pointer border-1 px-1 py-2 border-emerald-600 hover:bg-emerald-600 transition-all duration-200 rounded-lg
  active:scale-90;
  filter: invert(32%) sepia(88%) saturate(500%) hue-rotate(120deg) brightness(90%);
  
}
.nav{
  @apply fixed top-0.5 left-310 z-100 h-13 w-fit gap-10 flex;
  span{
    @apply flex items-center justify-center mx-auto w-25 h-15.5 text-white hover:bg-white hover:text-green-700  cursor-pointer transition-all duration-300 border-1 border-white border-t-0 border-b-0;
  }
}

.announcement {
  @apply mx-auto 
    max-w-[900px] 
    w-full
    mt-16
    bg-white
    rounded-xl
    shadow-xl
    border border-emerald-50
    px-6 py-5
    backdrop-blur-lg
    transition-all duration-300;
}




.icon-transaction{
  @apply w-10;
  filter: invert(100%);
}
