@import "tailwindcss";

.head {
  @apply bg-white/90 backdrop-blur
         w-full h-17 flex fixed top-0 left-0 z-50
         shadow-sm px-6 border-b border-b-2 border-green-200;
}

.head span {
  @apply bg-gradient-to-r from-emerald-600 to-teal-600 bg-clip-text text-transparent text-2xl font-bold h-fit my-auto;
}